.container {
  color: white;
  background-color: #74C9CE;
  background-image: url('https://i.postimg.cc/j5Cywm31/IMG-0109-1-1.png'), url('https://i.postimg.cc/43s5d8gC/Untitled-Artwork-1.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left, right;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainH1 {
  margin: 5rem;
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  text-align: center;
}

.mainP {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 39px;
  text-align: center;
}

.catchPhrase {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 39px;
  text-align: center;
}